@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root{
    --yellow:#901da7;
    --yellow-light: #d360eb;
    --white: #fff;
    ---black: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Ubuntu', sans-serif;
}
.div-help{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.div-help h3{
    font-size: 13px;
}
.section-space{
    height: 7.5vh;
}
.support{
    margin-top: 3px;
    width: 70px;
    height: 70px;
    background-color: rgb(189, 93, 93);
    border-radius: 40%;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    background: linear-gradient(45deg, #e26e4755, #e3e3e355, #e26e4755);
    border: 1px solid rgba(209, 213, 219, 0.3);
    cursor: pointer;
}
.support:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
.support p{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
}
.support img{
    width: 40px;
    height: auto;
}
/* <-------------- header --------> */
header{
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
}
nav{
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}
.nav-item{
    cursor: pointer;
    color: #000;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}
.nav-link:hover{
    background: -webkit-linear-gradient(135deg, #0076fc, #dc04dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    width: 140px;
    height: 33px;
    border: none;
    background: linear-gradient(135deg, #00bcdd, #ff00ff);
    background-color: #fff;
    color: var(--white);
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}
.btn-primary:hover{
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 5px 15px var(--yellow-light);
    color: var(--white);
}
nav input{
    width: 190px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #00bcdd;
    color: #000;
}
nav input:focus, nav input:active{
    border: 1px solid #00bcdd !important;
    color: #000;
}
nav input::placeholder{
    padding-left: 5px;
}
.logo{
    width: 150px;
    margin-left: 50px;
    padding-top: 25px;
    cursor: pointer;
    font-size: 30px;
}
.header-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.4vh;
}
.header-left{
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin-left: 80px;
    width: 50vw;
    margin-top: 15vh;
}
.header-right{
    width: 50vw;
}
.header-right img{
    width: 40vw;
    float: right;
    margin-right: 80px;
    margin-top: 20px;
    border-radius: 5px;
}
.header-right img:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.01);
}
.header-left h1{
    width: 40vw;
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: -7vh;
    background: -webkit-linear-gradient(45deg, #0080ff, #7c25bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-left p{
    font-size: 20px;
    width: 35vw;
    margin-top: 30px;
    color: var(--black);
    line-height: 35px;
}
.blur-blue{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #32c6f3c5;
    box-shadow:20px 20px 100px 100px #32c6f3c5;
    opacity: 0.2;
    position: fixed;
    top: 200px;
    left: -30px;
}
.blur-green{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #44ff9882;
    box-shadow:10px 10px 100px 100px #44ff9882;
    opacity: 0.3;
    position: fixed;
    bottom: 200px;
    right: 600px;
}
.blur-aqua{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #44ffffa1;
    box-shadow:10px 10px 100px 100px #44ffffa1;
    opacity: 0.3;
    position: fixed;
    top: 100px;
    right: 10px;
}
.btn-git{
    display: flex;
    flex-direction: row;
    width: 220px;
    height: 10px;
    padding: 20px;
    align-items: center;
    background: linear-gradient(135deg, #00bcdd, #ff00ff);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 3vh;
}
.btn-git:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    background: linear-gradient(135deg, #00d9ff, #ff21ff);
    box-shadow: 0 5px 15px var(--yellow-light);
}
.btn-git img{
    width: 40px;
}
.btn-git p{
    font-size: 21px;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 32px;
    font-weight: 500;
    color: #fff;
}
.header-left a{
    text-decoration: none;
    width: 220px;
    height: 10px;
}
.div-stat{
    display: flex;
    flex-direction: column;
    margin-top: 16vh;
}
.stats{
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}
.stat{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 130px;
    margin: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    /* background-color: #e3e3e355; */
    background: linear-gradient(45deg, #e3e3e355, #e3e3e355, #47dae255);
    border-radius: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.stat:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}
.stat img{
    width: 50px;
    height: 50px;
}
.stat h1{
    font-size: 25px;
    margin-top: 5px;
    width: 140px;
    margin-left: 10px;
}
.stat h3{
    font-size: 14px;
    margin-top: 3px;
    width: 150px;
}

/* <------ courses ------------> */
.section-courses{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section-courses h2{
    font-size: 36px;
}
.div-courses{
    display: flex;
    flex-direction: row;
}
.course-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course-group h3{
    font-size: 25px;
}
.course-group p{
    font-size: 18px;
    margin-top: 10px;
}
.courses{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 35vw;
    height: 79vh;
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #e3e3e355;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.course{
    display: flex;
    flex-direction: row;
    margin: 2.1vh 3vh;
    position: relative;
    height: 19vh;
    border-radius: 12px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #e3e3e355;
    border: 1px solid rgba(209, 213, 219, 0.3);
    cursor: pointer;
    z-index: 5;
}
.course img{
    height: 19vh;
    border-radius: 12px;
}
.course-text{
    margin-left: 15px;
}
.course-text h4{
    font-size: 20px;
    margin-top: 5px;
}
.course-text p{
    font-size: 20px;
    margin-top: 5px;
}
.course-text h5{
    font-size: 24px;
    position: absolute;
    bottom: 2px;
}
/* <---- not active ---> */
.course-group-ia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.course-group-ia h3{
    font-size: 20px;
}
.course-group-ia p{
    font-size: 16px;
    margin-top: 10px;
}
.courses-ia{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 29vw;
    height: 74vh;
    margin-top: 40px;
    padding: 10px;
    border-radius: 15px;
    align-self: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #e3e3e355;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.course-ia{
    display: flex;
    flex-direction: row;
    margin: 2vh 2.5vh;
    position: relative;
    height: 17vh;
    border-radius: 12px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #e3e3e355;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: -2;
}
.course-ia img{
    height: 17vh;
    border-radius: 10px;
}
.course-text-ia{
    margin-left: 15px;
}
.course-text-ia h4{
    font-size: 16px;
    margin-top: 5px;
}
.course-text-ia p{
    font-size: 14px;
    margin-top: 5px;
}
.course-text-ia h5{
    font-size: 20px;
    position: absolute;
    bottom: 2px;
}
#course-ia-left{
    margin-right: -2.5vw;
}
#course-ia-right{
    margin-left: -2.5vw;
    z-index: -1;
}
.courses:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0px 15px #04135ad7;
}
.course:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0px 15px #132371d7;
}
.course-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
    z-index: 5;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #4dd2e455;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.course-arrow:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
.course-arrow img{
    width: 35px;
    align-self: center;
    padding: 2px;
}
.course-arrow img:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.div-courses #left-arrow{
    margin-right: -1vw;
}
.div-courses #right-arrow{
    margin-left: -1vw;
}
/* <------- achievements ---------> */
.acheivements{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.placements{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acheivements h2{
    font-size: 36px;
}
.place-companies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
.place-company{
    width: 13vw;
    height: 8vh;
    background-color: grey;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: #dbdada2c;
    border-radius: 12px;
    border: 1px solid #d1d5db4d;
}
.place-companies img{
    width: 10vw;
    padding: 10px 0px;
}
.place-company:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
    /* background: linear-gradient(45deg,#dbdada2c, #26acea2c, #dbdada2c); */
    box-shadow: 0 0px 15px #7b29e8d7;
}
.div-institutions{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.institutions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}
.institution{
    width: 13vw;
    height: 11vh;
    margin: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.institution img{
    height: 9vh;
    margin-top: 1vh;
}
.institution:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    /* background: linear-gradient(45deg,#dbdada2c, #692fdd62, #dbdada2c); */
    box-shadow: 0 0px 15px #00b7f9d7;
}

/* <-------- team ineuron ----------> */
.team-fame{
    width: 100vw;
    height: 170vh;
    display: flex;
    flex-direction: column;
}
.team-neuron{
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
    align-items: center;
}
.team-intro h2{
    font-size: 36px;
}
.teams{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}
.team-row{
    display: flex;
    flex-direction: row;
}
.team{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 18vh;
    margin: 2vh 2vw;
    align-items: center;
    justify-content: center;
    text-align: left;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    /* background-color: rgba(219, 218, 218, 0.171); */
    background: linear-gradient(45deg, #e3e3e355, #e3e3e355, #47d0e255);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: relative;
}
.team:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    /* background: linear-gradient(45deg,#dbdada2c, #692fdd62, #dbdada2c); */
    box-shadow: 0 0px 15px #04135ad7;
}
.team-img img{
    height: 18vh;
    margin-left: -5px;
}
.team-text{
    margin-left: 5px;
}
.team-text h3{
    font-size: 19px;
}
.team-text h4{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
.social{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.social div{
    margin-right: 8px;
    cursor: pointer;
}
.social img{
    width: 20px;
}
/* <------------- hall of fame ------------> */
.hall-of-fame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.hall-of-fame h2{
    font-size: 36px;
}
.halls{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
/* <-- active --> */
.hall{
    width: 24vw;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 5;
}
.hall:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 0px 15px #1663afd7;
}
.hall img{
    width: 20vw;
    padding: 10px;
    border-radius: 10%;
}
.hall .hall-img .hall-linkedin{
    width: 20px;
    border-radius: 0;
    margin-left: 0px;
    cursor: pointer;
}
.hall .hall-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: -10px;
}
.hall .hall-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -25px;
    text-align: center;
}
.hall .hall-img h3{
    font-size: 18px;
}
.hall .hall-img h4{
    font-size: 16px;
}
.hall .hall-img p{
    font-size: 10px;
}
/* <-- not active --> */
.hall-ia{
    width: 17vw;
    height: 56vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 10px;
    justify-content: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    align-self: center;
    z-index: 3;
}
.hall-ia img{
    width: 16vw;
    padding: 10px;
    border-radius: 10%;
}
.hall-ia .hall-img .hall-linkedin{
    width: 20px;
    border-radius: 0;
    margin-left: 5px;
}
.hall-ia .hall-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: -10px;
}
.hall-ia .hall-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -25px;
    text-align: center;
}
.hall-ia h3{
    font-size: 16px;
    margin-right: -10px;
}
.hall-ia h4{
    font-size: 14px;
}
.hall-ia p{
    font-size: 15px;
}
/* <-- not not active --> */
.hall-ia-ia{
    width: 14vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 10px;
    justify-content: center;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    align-self: center;
    z-index: 1;
}
.hall-ia-ia img{
    width: 12vw;
    padding: 10px 20px;
    border-radius: 10%;
}
.hall-ia-ia .hall-img .hall-linkedin{
    width: 20px;
    border-radius: 0;
    margin-left: 5px;
}
.hall-ia-ia .hall-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: -10px;
}
.hall-ia-ia .hall-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -25px;
    text-align: center;
}
.hall-ia-ia h3{
    font-size: 15px;
    margin-right: -15px;
}
.hall-ia-ia h4{
    font-size: 12px;
}
.hall-ia-ia p{
    font-size: 14px;
    margin-top: 10px;
}
#fame-left{
    margin-right: -20px;
}
#fame-right{
    margin-left: -20px;
}
.fame-arrow{
    width: 35px;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 50%;
    border: 1px solid rgba(209, 213, 219, 0.3);
    align-self: center;
    align-items: center;
}
.fame-arrow img{
    width: 30px;
    padding: 1.25px;
    align-items: center;
}

/* < -------------- footer ------- > */
footer{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    background-color: #63dafeac;
    background: -webkit-linear-gradient(135deg, #2197aca5, #6434b799);
    align-content: center;
    align-items: center;
    justify-content: center;

}
.footer-main{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}
.footer-logo-div, .address, .email{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footer-logo{
    height: 6vh;
}
.footer-iso{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#iso-9001{
    height: 8vh;
    padding: 1vh 1.1vw;
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(219, 218, 218, 0.171);
    border-radius: 15%;
    border: 1px solid #eeff06;
    align-self: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 0 0px 10px #00ffdd;
}
#iso-9001:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0 0px 20px #00ffdd;
}
.address, .email{
    width: 28vw;
    align-content: center;
    align-self: center;
    margin-top: 15px;
}
.address img, .email img{
    width: 40px;
}
.address p, .email p{
    margin-left: 10px;
}
.footer-head{
    margin-right: 5vw;
}
.footer-head h2{
    font-size: 20px;
}
.footer-links a{
    text-decoration: none;
    color: #000;
}
.footer-links p{
    margin-top: 20px;
    font-size: 16px;
}
.footer-social .footer-links a{
    display: flex;
    flex-direction: row;
}
.footer-social .footer-links img{
    height: 16px;
    margin-top: 20px;
}
.footer-social .footer-links p{
    margin-left: 10px;
}
.footer-float-right{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 3vw;
    margin-left: auto;
    margin-top: 10px;
}
.footer-line{
    height: 1px;
    background: linear-gradient(135deg, #00bcdd6c, #6200ff88);
}
footer p{
    font-size: 18px;
    font-weight: 500;
}
/* <---- others ------> */
#company-more{
    width: 40px;
}
#college-more{
width: 45px;
height: auto;
padding-top: 15px;
}
h2{
    color: #07004f;
}
h3, h4{
    color: #0b026c;
}